.bouncer-governed {
	z-index: 0;
	/*position: absolute;
	top: 0;
	height: 1080px;
	width: 100%;
	/*padding: 200px;*/
	/*background: url(cakes.jpg) no-repeat;*/


	&--blurred {
		filter: blur(10px);
	}
}

.bouncer {

	&__form-box {
		z-index: 2;
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		top: 75px;
		/*margin: 150px 200px;*/
		width: 100%;

		text-align: center;
		/*background-color: grey;*/

		@media (min-width: 800px) {
			top: 200px;
		}
	}

	&__form-box--hidden {
		display: none;
	}

	&__label {
		display: block;
		margin: 40px;

		font-family: 'Montserrat', sans-serif;
		font-weight: 100;
		font-size: 2rem;
		color: #fff;

	}

	&__input {
		display: block;
		margin: 40px;
		padding: 5px;
		max-width: 300px;

		font-family: 'Montserrat', sans-serif;
		font-weight: 100;
		font-size: 2.5rem;
		color: $darkGrey;
		border-radius: 13px;

		@media (min-width: 800px) {
			padding: 20px;
			max-width: 500px;
		}
	}

	&__button {
		padding: 8px;

		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 1.5rem;
		color: $darkGrey;
		border-radius: 5px;
	}
		&__button:hover {
			background-color: $meat;
		}
}

