.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__stack {
		display: flex;
		flex-direction: column;

		/*margin-top: 60px;*/
		/*min-width: 500px;*/
		/*max-width: 700px;*/
	}

	&__body {
		color: #fff;
		font-size: 1.2em;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;

		/*margin: 12px;*/
	}

	&__input {
		display: block;
		margin: 10px;
		padding: 10px;
		max-width: 90%;

		color: $darkGrey;;
		font-size: 1.1em;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;

		@media (min-width: 800px) {
			padding: 20px;
			max-width: 700px;
		}
	}

	&__button {
		margin: 20px;
		padding: 8px;

		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 1.5rem;
		color: $darkGrey;
		border-radius: 5px;
	}
		&__button:hover {
			background-color: $meat;
		}
}



