


.eat-laugh-learn {
	z-index: 5;

	border-top: 2px solid rgba(255,255,255,.5);
	border-bottom: 2px solid rgba(255,255,255,.5);
	box-shadow: 0px 5px 5px rgba(0,0,0,.3),
  			0px -5px 5px rgba(0,0,0,.3);

	&__box {
		position: relative;
		overflow: hidden;
	}

	&__berries {
		position: absolute;
		max-height: 36rem;
		bottom: -5rem;
		opacity: .2;
	}
}