.footer {
	position: relative;
	bottom: 0;
	padding: 45px 0;
	height: 100px;

	background-color: $darkGrey;

	text-align: center;

	border-top: 4px solid $meat;
	border-bottom: 1px solid $darkGrey;

	&__text {
		font-family: 'Montserrat', sans-serif;
		color: $meat;

		a {
			text-decoration: none;
			color: $meat;
		}
	}

	&__text--big {
		font-weight: 100;
		font-size: 2rem;
	}
}


.sqglz {
	display: block;
	padding: 60px 0;
	
	font-weight: 500;
	font-size: .8rem;

	background-color: $darkGrey;
}

	/*.sqglz:visited {

	}*/