.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: 0;

	padding: 45px 0;
	min-height: 100px;
	width: 100%;

	background-color: $darkGrey;

	text-align: center;

	border-top: 4px solid $meat;
	/*border-bottom: 1px solid $darkGrey;*/

	&__text {
		font-family: 'Montserrat', sans-serif;
		color: $meat;

		a {
			text-decoration: none;
			color: $meat;
		}
	}

	&__text--big {
		font-weight: 100;
		font-size: 2rem;
	}

	&__instagram-icon {
		position: absolute;
		transform: translateX(-50%);
		transition: opacity .3s;
		opacity: 1;
		margin-top: 30px;
		height: 50px;
	}
		&__instagram-icon:hover {
			opacity: 0;
		}

	&__instagram-icon--white {
		transition: opacity .3s;
		opacity: 0;
	}
		&__instagram-icon--white:hover {
			opacity: 1;
		}
}


.sqglz {
	display: block;
	width: 100%;
	padding: 150px 0 30px 0;
	
	@media (min-width: 800px) {
		padding: 200px 0 75px 0;
	}

	font-weight: 500;
	font-size: .8rem;
	letter-spacing: .5rem;

	background-color: $darkGrey;
}


.sqglz-link a:hover {
	color: white;
}

	/*.sqglz:visited {

	}*/