.splash {

	&__main-img {
		
		width: 100%;
		left: auto;
		margin-top: 90px;
	
		/*border: 1px solid pink;*/

		@media (min-width: 700px) {
			margin-left: 40px;
			max-width: 65%;

			/*border: 1px solid blue;*/
		}

		@media (min-width: 900px) {
			/*border: 1px solid green;*/
		}

		@media (min-width: 1200px) {
			/*border: 1px solid white;*/
		}
	}

	&__secondary-img {

		position: fixed;
		top: -200px;
		right: -150px;
		z-index: -1;

		max-height: 1200px;
		opacity: .5;

		@media (min-width: 900px) {
			position: fixed;
			top: -200px;
			right: 40px;
			z-index: -1;

			max-height: 1800px;
			opacity: 1;
		}
	}
}