.splash {

	&__main-img {
		
		width: 100%;
		left: auto;
		margin-top: 90px;
	
		/*border: 1px solid pink;*/

		@media (min-width: 700px) {
			margin-left: 40px;
			max-width: 65%;

			/*border: 1px solid blue;*/
		}

	}

	&__secondary-img {

		position: fixed;
		top: -200px;
		right: -150px;
		z-index: -1;

		max-height: 1200px;
		opacity: .5;

		@media (min-width: 900px) {
			position: fixed;
			top: -200px;
			right: -50px;

			max-height: 1800px;
			opacity: 1;
		}
	}

	&__tertiary-img {

		position: absolute;
		right: -5rem;
		z-index: -2;

		max-width: 600px;

		@media (min-width: 900px) {
			top: 24rem;
			max-width: 900px;
		}

		@media (max-width: 600px) { top: 12rem; }

		@media (min-width: 601px) and (max-width: 900px) { top: 20rem; }

		@media (min-width: 901px) and (max-width: 1200px) {
			top: 20rem;
			max-width: 900px;
		}

		@media (min-width: 1201px) and (max-width: 1800px) {
			top: 30rem;
			max-width: 900px;
		}

		@media (min-width: 1800px) {
			top: 36rem;
			max-width: 900px;
		}

	}
}