.wrapper {
	/*width: 100%;*/
	margin: 50px 0;
	padding: 12px;

	@media (min-width: 800px) {
		padding: 30px;
	}


	/*&__large {
		max-width: 1200px;
	}*/


	&__inner--medium {
		position: relative;
		display: block;
		margin: 10px; 
		padding-right: 25px;
		max-width: 80%;

		@media (min-width: 800px) {
			/*margin: 10px 30px 10px 100px;*/
			margin-top: 10px;
			margin-left: 50%;
			transform: translateX(-50%);
			/* margin-left: 100px; */
			min-width: 65%;
			max-width: 1000px;
			
		}

	}

	&--dark {
		background-color: rgba($darkGrey, 1);
		/*border: 1px solid $meat;*/

	}

	&--full-width {
		width: 100%;
	}

	&__space {
		height: 50px;
	}

	&__space--small {

		height: 20px;

		@media (min-width: 800px) {
			height: 40px;
		}
	} 

	&__space--medium {

		height: 90px;

		@media (min-width: 800px) {
			height: 200px;
		}
	}

	&__space--large {

		height: 180px;
		
		@media (min-width: 800px) {
			height: 400px;
		}
	}

}