* {
	font-family: Helvetica;
	color: #fff;
	/*font-family: Times;*/
}

body {
	background-image: url(../../assets/img/chalkBoard_fullsize.jpg);
	background: no-repeat cover;
	background-attachment: fixed;
}
